{% extends 'gestion_commandes/index.html' %}

{% block content %}

<p>Prestataires actuels :</p>
    <ul>
        {% for prestataire in prestataires %}
        <li><section>
            <a>
                Prestataire n° {{prestataire.id}} : {{prestataire.name}} | 
                localité : {{prestataire.localite}} | 
                fonction : {{prestataire.fonction}} | 
                mail : {{prestataire.mail}}
            </a>
            <a>
                <form action="{% url 'delete_prestataire' id=prestataire.id %}">
                    <button type='submit'>SUPPRIMER</button>
                </form>
            </a>
        </section></li>
        {% endfor %}
    </ul>
    <p>Ajout d'un nouveau prestataire</p>

    <form action="" method="post" novalidate>
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Envoyer">
    </form>

{% endblock content %}