h1{
 	text-align:center;
 	font-size:50px;
  }
nav{
	width:100%;
	font-size:30px;
}
.connect {
	text-align:center;
	float: right;
	width: 20%;
	height: 100%;
	background-color:grey;
	font-size:30px;
	
	
}
#annot {
	text-align:center;
	float: left;
	width:25%;
	background-color:cyan;
	}
	
#addgenome {
	text-align:center;
	float:left;
	width:25%;
	background-color:cyan;

	}
#parser {
	text-align:center;
	width:25%;
	float:left;
	background-color:cyan;
	}		
/*
    #search {
	text-align:center;
	width:25%;
	float:left;
	background-color:cyan;
	}
*/	
footer{
	float:bottom;
}

.backgroundPage {
    background-color: azure;
    width: 100%;
}

.searchAlign {
    background-color: azure;
    margin-right: 40%;
    margin-left: 20%;
	width:40%;
    text-align: center;
}
.addAlign {
    background-color: azure;
    margin-right: 40%;
    margin-left: 40%;
	width:40%;
    text-align: left;
}

.searchPage {
	background-color: azure;
	text-align:right;
    display: flexbox;
	width:100%;
	
}
/*
#SearchQuery{
	background-color:beige;
	width: 100%;
	text-align: center;
}*/
#QuerySequence{
	background-color:azure;
	border: solid rgba(0, 0, 0, .15);
	border-width: 1px 0;
	box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    text-align: center;
}
#Sequence{
	height:100%;
	width:900px;
	border:1px solid #ccc;
	font:16px/26px Georgia, Garamond, Serif;
    word-wrap: break-word; 
	/*overflow:auto;*/
    margin-left: auto;
    margin-right: auto; 
}
.seq{
    height:100%;
	width:700px;
	border:1px solid #ccc;
	font:16px/26px Georgia, Garamond, Serif;
    word-wrap: break-word;
    margin-left: auto;
    margin-right: auto; 
}
/*.container {
	text-align: center;
	width: 400px;
	clear: both;
	display: inline-block;
  }
  */
  /*
.containerSearch input {
	width: 100%;
	clear: both;
  }
  */
#thead_blast{
    background-color: beige;
    border: 1px solid #333;
    text-align: center;
    width: 100%;
}
table{
    background-color: beige;
    border: 1px solid #333;
    text-align: center;
    width: 100%;
}
td{
    background-color:azure;
	/*height: 3rem;*/
	/*background-color: rgba(0, 0, 0, .1);*/
	border: solid rgba(0, 0, 0, .15);
	border-width: 1px 0;
	box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
	/*text-align:center;*/
	/*width: 100%;*/
	/*float:bottom;*/
    
}
.col21{
    width: 800px; 
    
}
.col22{
    width: 800px;
}
.col31{
    width: 500px;
}
.col32{
    width: 700px;
}
.col33{
    width: 700px;
}
#buttonBlast{
    height: 50px;
    margin-top: 10px;

}
.col41{
    width:100px;
}
.col42{
    width:100px;
}
.col43{
    width:100px;
}
.col44{
    width:100px;
}
.col45{
    width:100px;
}
.col46{
    width:100px;
}
#FAQ_text{
    background-color: azure;
}
#genome{
    color: blue;
}
#FAQ_h2 {
    font-family: Arial, Verdana;
    font-weight: 800;
    font-size: 2.5rem;
    text-align: center;
    color: #091f2f;
    text-transform: uppercase;
}
.accordion-section .panel-default > .panel-heading {
    border: 0;
    background: beige;/* #f4f4f4;*/
    padding: 0;
}
.accordion-section .panel-default .panel-title a {
    display: block;
    font-style: italic;
    font-size: 1.5rem;
}
.accordion-section .panel-default .panel-title a:after {
    font-family: 'FontAwesome';
    font-style: normal;
    font-size: 3rem;
    /*content: "\f106";*/
    color: azure;/*#1f7de2;*/
    float: right;
    margin-top: -12px;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
    content: "\f107";
}
.accordion-section .panel-default .panel-body {
    font-size: 1.2rem;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}


@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

.titleSite{
    text-align:center;
    font-size:50px;
    font-family: Roboto;
    background-color: #6d7fcc;
    color: white;
}

.sectionTitle {
    background-color: beige;
    text-align: center;
    font-size: 30px;
}

.helpContent {
    text-align: left;
    background-color: azure;
}