{% extends 'bacterial_genome_annotation/Base.html' %}
{% block content %}
    <title>A propos de nous</title>

    <div id="header"> <br>
  		<h> LADN </h> <br><br>
  	</div>

<body>
    <h1>A propos de l'équipe</h1>
        <p>Nous sommes un équipe de quatres étudiants de Master 2 AMI2B de l'Université Paris Saclay </p>
  
    <h2>Axel levy </h2>
          <p class="title">Database Manager and  back-end developper</p>
          <p>axel.levy.x19@polytechnique.edu </p>
    <h2> Louis Perrin </h2>
        <p class="title">Front-end developper</p>
        <p> louis.perrin@ens-rennes.fr</p>


    <h2>Djamel Boubred</h2>
         <p class="title">Front-end developper</p>
         <p>djamel.boubred@universite-paris-saclay.fr</p>
        
   <h2>Nouhayla Er-raysy </h2>
         <p class="title">Front-end developper</p>
         <p>nouhayla.er-raysy@universite-paris-saclay.fr </p>

  </body>
{% endblock %}  


