{% extends 'bacterial_genome_annotation/Base.html' %}
{% load mytags %}
{% block content %}
    <div style = "max-width:470px;">
        <form action="" method="post" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Envoyer">
        </form>
    </div>
    <ul>
        {% for seq in sequences|slice:":50" %}
            <li>
                <a href="{% url 'sequence' id=seq.id %}" > {{ seq.id }} - {{ seq.genome.id|replaceWithSpace:"_" }}</a>
            </li>
        {% empty %}
            <li>No sequence found.</li>
        {% endfor %}
    </ul>
{% endblock %}