{% extends 'bacterial_genome_annotation/Base.html' %}
{% load static %}
{% block content %}

          <section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
            <div class="container">
            
                <h2 id="FAQ_h2">Frequently Asked Questions </h2>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                  <div class="panel panel-default">
                    <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
                      <h3 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
                            Permission denied
                        </a>
                      </h3>
                    </div>
                    <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
                      <div id="FAQ_text" class="panel-body px-3 mb-4">
                        <p>
                            Some action need permissions:
                        </p>
                        <ul>
                          <li>reader -> all Users</li>
                          <li>annotation -> Annotator</li>
                          <li>validation -> Validator</li>
                          <li>Asign sequence -> Validator</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  
                  <div class="panel panel-default">
                    <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
                      <h3 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                          Blast
                        </a>
                      </h3>
                    </div>
                    
                    <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                      <div class="panel-body px-3 mb-4">
                        <div class="panel panel-default">
                            <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
                                <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="true" aria-controls="collapse12">
                                    The Blast launches automatically and updates automatically every 5 seconds. On average the request takes 5 minutes.</a>
                      </div>
                    </div>
                    <div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                        <div class="panel-body px-3 mb-4">
                          <p>The mean of request is between 1 in 5 five minutes.</p>
                        </div>
                  </div>
                  </div>
                  </div>
                  
                  <div class="panel panel-default">
                    <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
                      <h3 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                          Add genome
                        </a>
                      </h3>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                      <div class="panel-body px-3 mb-4">
                        <p>An input error results in the return of an error page</p>
                      </div>
                    </div>
                  </div>
                  
                  <div class="panel panel-default">
                    <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
                      <h3 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                          Add favorites members 
                        </a>
                      </h3>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                      <div class="panel-body px-3 mb-4">
                        <p>In first steps search members then add members with add to favorites button.
                            <br> Members are add on favorites members list.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
            
            </div>
          </section>

         

{% endblock %}