{% extends 'bacterial_genome_annotation/Base.html' %}
{% load static %}
{% block content %}


                <h2> Login </h2>
                <label class="backgroundPage" for="email"><b>Email</b></label><br>
                <input type="text" placeholder="Enter email" name='email' id="email" required><br>
                <label for="psw"><b>Password</b></label><br>
                <input type="password" placeholder="Enter Password" name='psw' id="psw" required><br>
                <button class="btn btn-secondary" name="submit" type="submit">Log in</button>
                
<!-- big_submit_button-->
        <div class="Sign up">
            <span>Don't have an account ?</span>
            <a href="Account.html"> Sign up </a>
        
        </div>

{% endblock %}
