{% extends 'bacterial_genome_annotation/Base.html' %}
{% load mytags %}
{% block content %}
    <ul>
        <a>Sequence: {{seq.id}} - Position: {{seq.position}} - Genome {{seq.genome.id}}</a>

        <a>{{seq.sequence}}</a>

        {% for a in annotationsValidated %}

            <a>Gene: {{ a.gene }} - Gene biotype: {{ a..gene_biotype }} - Gene symbol: {{a.gene_symbol}} - Transcript {{a.transcript}} - Transcript biotype {{a.transcript_biotype}}</a>
        
            <a>Description: {{a.description}}</a>
            
            <a>Annotation de {{a.annotator.first_name}} {{a.annotator.last_name}} and validated by {{a.validator.first_name}} {{a.validator.last_name}}</a>
        {% empty %}
            <a>Not validated annotation yet !</a>
        {% endfor %}
            
        <a>Other annotations:</a>
        {% for a in annotations %}
            <li>
                <a>Gene: {{ a.gene }} - Gene biotype: {{ a..gene_biotype }} - Gene symbol: {{a.gene_symbol}} - Transcript {{a.transcript}} - Transcript biotype {{a.transcript_biotype}}</a>
                

                <a>Description: {{a.description}}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}