{% extends 'bacterial_genome_annotation/Base.html' %}
{% load mytags %}
{% block content %}
<div id="QuerySequence">    

<table>
    <thead>
        <tr>
            <th colspan="2">Sequence ID: {{seq.id}}</th>
        </tr>
    </thead>
    <tbody id="QuerySequence" class="form-control">
        <tr>
            <td class="col21">
                Position: 
            </td>  
            <td class="col22">
                {{seq.position}}
            </td>
        <tr>    
            <td class="col21">
                Genome:
            </td>
            <td class="col22">
                {{seq.genome.id}}
            </td>
        </tr>
        <!-- <tr>
            <td> !!Option one 
                Sequence:
            </td> 
            <td COLSPAN="2">
                <div id="Sequence" class="form-control">
                {{seq.sequence}}
                </div>
            </td>
        </tr> !!Option two
    -->
    </tbody>

</table>
       <div id="Sequence" class="form-control">
        <a >{{seq.sequence}}</a>
</div>  <!-- Option three-->
</table>
        {% for a in annotationsValidated %}
<table>
        <thead>
            <tr>
                <th colspan="2">Gene: {{ a.gene }}</th>
            </tr>
        </thead>
        <tbody id="QuerySequence" class="form-control">
            <tr>
                <td class="col21">
                    Gene biotype:
                </td>
                <td class="col22">
                    {{ a.gene_biotype }}
                </td>
            </tr>  
            <tr>  
                <td class="col21">
                    Gene symbol: 
                </td>
                <td class="col22">
                    {{a.gene_symbol}} 
                </td>
            </tr>    
            <tr>
                <td class="col21">
                    Transcript:
                </td>
                <td class="col22">
                    {{a.transcript}}
                </td>
            </tr>
            <tr>    
                <td class="col21">
                    Transcript biotype:
                </td>
                <td class="col22">
                    {{a.transcript_biotype}}
                </td>
            </tr>
            <tr>
                <td class="col21">
                    Description: 
                </td>
                <td class="col22">
                    {{a.description}}
                </td>
            </tr>
        </tbody>
    </table>

    <div id="buttonBlast">
        <button class="btn btn-secondary"><a href="{% url 'Parser' id=seq.id %}">BLAST</a></button>
        <button class="btn btn-secondary"><a href="{% url 'ANNOT' id=seq.id %}">ANNOT</a></button>
    </div>   
    
    <table>  
        <thead>
            <tr>
                <th colspan="2">Annotator and Validator</th>
            </tr>
        </thead>
        <tbody id="QuerySequence" class="form-control">
            <tr>    
                <td class="col31">
                    Annotator:
                </td>
                <td class="col32">
                    {{a.annotator.first_name}}
                </td>
                <td class="col33">
                    {{a.annotator.last_name}}
                </td>
            </tr>    
            <tr>
                <td class="col31">
                    Validator:
                </td>
                <td class="col32">
                    {{a.validator.first_name}}
                </td>
                <td class="col33">
                    {{a.validator.last_name}}
                </td>
            </tr>
        </tbody>
    </table>        
        {% empty %}
            <p>Not validated annotation yet !</p>
        {% endfor %}
            <a>Other annotations:</a>
        {% for a in annotations %}
            
                <a>Gene: {{ a.gene }} - Gene biotype: {{ a.gene_biotype }} - Gene symbol: {{a.gene_symbol}} - Transcript {{a.transcript}} - Transcript biotype {{a.transcript_biotype}}</a>
                

                <a>Description: {{a.description}}</a>
            {% endfor %}
    </div>
{% endblock %}