{% extends 'bacterial_genome_annotation/Base.html' %}
{% load mytags %}
{% block content %}
<!-- templates/registration/login.html -->
<div class="backgroundPage">
  
  
            
    <div class="container">    
<h2>Sign Up</h2>
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-secondary" type="submit">Sign Up</button>
    </form>
    <br>
    </div>
 

    </div>
    {% block javascript %}
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();

        $(document).ready(function () {
            // catch the form's submit event
            $('#id_email').keyup(function () {
                // create an AJAX call
                $.ajax({
                    data: $(this).serialize(), // get the form data
                    url: "{% url 'validate_email' %}",
                    type: "POST",
                    headers:{ "X-CSRFToken": csrftoken },
                    // on success
                    success: function (response) {
                        if (response.is_empty) {
                            $('#id_password1').removeClass('is-valid').addClass('is-invalid');
                            $('#emailError').remove()
                        } else if (response.is_taken == true) {
                            $('#id_email').removeClass('is-valid').addClass('is-invalid');
                            $('#emailError').remove()
                            $('#id_email').after('<div class="invalid-feedback d-block" id="emailError">This email is not available!</div>')
                        } else if (response.is_valid == false) {
                            $('#id_email').removeClass('is-valid').addClass('is-invalid');
                            $('#emailError').remove()
                            $('#id_email').after('<div class="invalid-feedback d-block" id="emailError">This is not a valid email!</div>')
                        } else {
                            $('#id_email').removeClass('is-invalid').addClass('is-valid');
                            $('#emailError').remove()
                        }
                    },
                    // on error
                    error: function (response) {
                        // alert the error if any error occured
                        console.log(response.responseJSON.errors)
                    }
                });

                return false;
            });
            $('#id_password1').keyup(function () {
                // create an AJAX call
                $.ajax({
                    data: $(this).serialize(), // get the form data
                    url: "{% url 'validate_password' %}",
                    type: "POST",
                    headers:{ "X-CSRFToken": csrftoken },
                    // on success
                    success: function (response) {
                        if (response.is_empty) {
                            $('#id_password1').removeClass('is-valid').addClass('is-invalid');
                            $('#passwordError').remove()
                        } else if (response.is_valid == false) {
                            $('#id_password1').removeClass('is-valid').addClass('is-invalid');
                            $('#passwordError').remove()
                            $('#id_password1').after('<div class="invalid-feedback d-block" id="passwordError">'+response.message+'</div>')
                        } else {
                            $('#id_password1').removeClass('is-invalid').addClass('is-valid');
                            $('#passwordError').remove()
                        }
                    },
                    // on error
                    error: function (response) {
                        // alert the error if any error occured
                        console.log(response.responseJSON.errors)
                    }
                });

                return false;
            });
        })
    </script>
    {% endblock javascript %}
{% endblock %}