{% extends 'listings/base.html' %}
{% block content %}
		<h2>ALDS</h2>
		<p>ALDS est le résultat d'un projet web visant à mettre 
			en place un outils qui vise à ajouter, modifier et annoter
			des génomes par des utilisateurs enregistrer etr qui ont 
			une permission définis (rôle). 
		<br> 
		<h3>Comment ça marche</h3>

			<p>Il faut dans un premier temps s'enrregistrer ou se connecter 
				pour accéder au fonctionnalité de ALDS. Lors de votre inscription
				vous pouver sélectionner un rôle. Ce qui va déterminer votre 
				champs d'action au sein de ALDS.
				<br>
				Les rôles sont les suivants:
				<br>
				<li>Lecteur</li>
				<li>Annotateur</li>
				<li>Validateur</li>
			</p>


		Ce projet est réalisé par Alex, LOUIS, Nouhayla et Djamel
	des étudiants en M2 ALI2B.  </p>
{% endblock %}
